<header></header>
<main>
  <h2 style="text-align: center;">User Details</h2>
  <div class="container">
    <div class="details_form">
      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" required minlength="3">
          <mat-error>Name should have more than 3 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput [(ngModel)]="age" required pattern="^\S[0-9]{0,3}$">
          <mat-error>Age should be a valid possible number</mat-error>
        </mat-form-field>
      </div>
      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput [(ngModel)]="phone" required  pattern="^\d{10}$">
          <mat-error>Enter 10 digit phone number</mat-error>
        </mat-form-field>
      </div>
      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <mat-error>Invalid Email</mat-error>
        </mat-form-field>
      </div>
      <div class="lines btn_align">
        <button mat-stroked-button (click)="onSubmit()" class="submit-btn"
        >Submit</button>
      </div>
    </div>
  </div>

  <div class="output">
    <app-child [table_row]="table_data"></app-child>
  </div>
</main>