.table_container{
    width: 100%;
    margin-top: 20px;
    .options_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .option{
            margin: 0 20px;
        }
    }
}
table{
    width:90%;
    margin:2% 5%;
}
.action_btn{
    text-transform: capitalize;
}
.view-btn{
    background: olive;
    color:white;
    &:hover{
        background: rgb(248, 248, 3);
    }
}
.edit-btn{
    background:darkblue;
    color:white;
    &:hover{
        background: rgb(108, 108, 250);
    }
}
.delete-btn{
    background: black;
    color:white;
    &:hover{
        background: rgb(117, 117, 117);
    }
}